.bspace{
	margin-bottom: 10px
}
.cposition{
	text-align: center;
}
.jakun {
	font-style: italic;
	font-weight: bold;
}
.debet{
	color: #fff;
}
.kredit{
	color: #000;
}
.left-navbar{
	margin-top: 5px;
}
.modal-body{
	margin: 0 20px;
}

.btho{
	background-color: #BBDEFB;
}

.bthn{
	background-color: #64B5F6;
}